<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Актуальные новости</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="news">
            <% news.forEach(function(newsItem, index) { %>
                <a href="<%- newsItem.link %>" class="news__card">
                    <img src="<%- newsItem.thumbnail_url %>" alt="<%- newsItem.title.rendered %>">
                    <h2><%- newsItem.title.rendered %></h2>
                    <p><%- newsItem.excerpt.rendered %></p>
                </a>
            <% }) %>
        </div>
    </div>
</body>

</html>